.property {
  padding: 5px;
  margin: auto;
  justify-content: center;
  display: flex;
  align-items: center;
}

.property-data, .property-day {
  width: 100px;
}

.property-icon {
  width: 50px;
}

.property-day-temp, .property-night-temp {
  width: 65px;
}

.list-item {
  border-bottom: 2px solid white;
  background-color: #f1f4f9;
  width: 100%;
  min-height: 50px;
  display: flex;

  &:hover {
    background-color: #e3ebf8;
  }
}
