.property {
  padding: 5px;
  margin: auto;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.property-data {
  width: 100px;
}

.property-day {
  width: 40px;
}

.property-icon {
  width: 50px;
  justify-content: center;
}

.property-day-temp {
  width: 30px;
}

.property-description {
  width: 150px;
}

.list-item {
  border-bottom: 2px solid white;
  background-color: #f1f4f9;
  width: 100%;
  min-height: 50px;
  display: flex;

  &:hover {
    background-color: #e3ebf8;
  }
}

.weather-icon {
  width: 50px;
  height: 50px;
}
