/* You can add global styles to this file, and also import other style files */

body {
  color: #2d2d2d;
}

input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  color: rgba(0,0,0,.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 34px;
  font-size: 16px;
}

.btn {
  margin: 5px;
  font-size: 14px;
  border: none;
  padding: 5px;
  background-color: beige;
}

p {
  padding: 0;
  margin: 0;
}


h1, h2 {
  padding: 0;
  margin: 0;
  text-align: center;
}
